/*definimos la paleta de colores */
:root {
  --color1: #fafbfb;
  --color2: #989d99;
  --color3: #9fa2a2;
  --color4: #87827e;
  --color5: #1c1d1f;
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  margin-top: 60px;
  flex-grow: 1;
}

/* ?CATEGORIAS------------------------------ */
.fondoBlanco{
  background-color: var(--color1);
}
.card{
  border: 7px solid var(--color1);
}
.card:hover{
  box-shadow: 7px 7px 10px rgba(128, 128, 128, 0.977);
  transition: 500ms;
  cursor: pointer;
}


/* Tama単o para dispositivos medianos (768px a 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .imagenCarousel {
    height: 300px; /* Ajusta la altura para dispositivos medianos */
  }
  .segundo-texto{
    font-size: 30px;
  }
}

/* Tama単o para dispositivos peque単os (menor de 768px) */
@media (max-width: 767px) {
  .imagenCarousel {
    height: 150px; /* Ajusta la altura para dispositivos peque単os */
  }
}

/*  Estilos del footer */

.bg-color5 {
  background-color: var(--color5);
  color: #fafbfb;
}

.bg-color4 {
  background-color: var(--color4);
  color: #fafbfb;
}

.img-footer {
  width: 100px;
  height: 100px;
}

.link-footer {
  color: #fafbfb;
  text-decoration: none;
  font-size:1.5rem;
}

.link-footer:hover {
  color: var(--color2);
  transition: 0.3s;
}

@media screen and (max-width:576px) {
  .espacio {
    padding-top:20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .display-inline {
    display: inline;
    letter-spacing: 1rem;
  }
}


/*  Estilos del footer */

.bg-color5 {
    background-color: var(--color5);
}
.img-footer {
    max-width: 100%;
}