/*definimos la paleta de colores */
:root {
  --color1: #fafbfb;
  --color2: #989d99;
  --color3: #9fa2a2;
  --color4: #87827e;
  --color5: #1c1d1f;
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  margin-top: 60px;
  flex-grow: 1;
}

/*  Estilos del footer */

.bg-color5 {
    background-color: var(--color5);
}
.img-footer {
    max-width: 100%;
}